{% extends "dashboard/base.html" %}
{% block body_block %}
<div class="jumbotron" style="margin-top:80px">
	<h1>Smart Blister</h1>
	<h3>Σύστημα Διασφάλισης της Φαρμακευτικής Συμμόρφωσης Χρόνιων Ασθενών με τον Ανασχεδιασμό του Blister των Φαρμάκων (SMART-BLISTER)</h3>
	<p class="text-justify"><small class="text-muted">Αντικείμενο της παρούσας πρότασης είναι η μελέτη, ο σχεδιασμός και η ανάπτυξη μιας νέας μεθόδου, η οποία θα δίνει λύση στα προβλήματα που αντιμετωπίζουν οι μέθοδοι έξυπνης συσκευασίας φαρμάκων με τη χρήση blisters. Η προτεινόμενη λύση απαρτίζεται από (α) έξυπνη συσκευασία blister, η οποία θα διαθέτει παθητικό ηλεκτρονικό κύκλωμα τυπωμένο πάνω στο blister με αγώγιμα μελάνια ή μελάνια μεγάλης αντίστασης ενός στρώματος και (β) μικρή συσκευή ενεργοποίησης του blister και επικοινωνίας με το κεντρικό πληροφοριακό σύστημα τεχνολογίας υπολογιστικού νέφους. Στόχοι του έργου: - Εύκολη και χαμηλού κόστους εφαρμογή σε επίπεδο μαζικής παραγωγής - Εύκολη διαδικασία υιοθέτησης και χρήσης - Ειδοποίηση ασθενούς - Άμεση ενημέρωση σε περίπτωση παράλειψης μιας δόσης - Υλοποίηση πρωτότυπων blister και συσκευών ενεργοποίησης - Υλοποίηση κεντρικού πληροφοριακού συστήματος αποστολής στοιχείων - Αύξηση του βαθμού φαρμακευτικής συμμόρφωσης</small></p>
</div>
{% if not user.is_authenticated %}
	<div class="d-flex justify-content-center btn-group" role="group">
		<a href="{% url 'users:registration' %}" class="btn btn-outline-info m-4 btn-lg">Εγγραφή</a>
		<a href="{% url 'login' %}" class="btn btn-outline-info m-4 btn-lg">Σύνδεση</a>
	</div>
{% endif %}

{% endblock %}