{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ title }}</legend>
			</fieldset>
			<div class="form-row">
				<div class="form=group col-md-4 mb-0">
					{{ u_form.last_name|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ u_form.first_name|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ p_form.father_name|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form=group col-md-3 mb-0">
					{{ u_form.username|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ u_form.email|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p_form.cell_phone|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p_form.birthdate|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form=group col-md-3 mb-0">
					{{ p_form.id_num|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p_form.id_type|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p_form.id_date_issued|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p_form.id_place_issued|as_crispy_field }}
				</div>
			</div>
			{% if role == 'doctor' %}
			<div class="form-row">
				<div class="form=group col-md-6 mb-0">
					{{ p1_form.speciality|as_crispy_field }}
				</div>
				<div class="form=group col-md-6 mb-0">
					{{ p1_form.office_place|as_crispy_field }}
				</div>
			</div>
			{% elif role == 'pharmacist' %}
			<div class="form-row">
				<div class="form=group col-md-5 mb-0">
					{{ p1_form.name|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p1_form.tax_num|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.doy|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.city|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.address|as_crispy_field }}
				</div>
				<div class="form=group col-md-2 mb-0">
					{{ p1_form.address_no|as_crispy_field }}
				</div>
				<div class="form=group col-md-2 mb-0">
					{{ p1_form.TK|as_crispy_field }}
				</div>
			</div>
			{% elif role == 'pharmacy' %}
			<div class="form-row">
				<div class="form=group col-md-5 mb-0">
					{{ p1_form.name|as_crispy_field }}
				</div>
				<div class="form=group col-md-3 mb-0">
					{{ p1_form.tax_num|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.doy|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.city|as_crispy_field }}
				</div>
				<div class="form=group col-md-4 mb-0">
					{{ p1_form.address|as_crispy_field }}
				</div>
				<div class="form=group col-md-2 mb-0">
					{{ p1_form.address_no|as_crispy_field }}
				</div>
				<div class="form=group col-md-2 mb-0">
					{{ p1_form.TK|as_crispy_field }}
				</div>
			</div>
			{% endif %}
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Ενημέρωση</button>
			</div>
		</form>
	</div>	
{% endblock %}