{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="content-section">
	<h3>{{ patient }}</h3><br>
	<h5>Χρεωμένα blisters</h5>
	<form method="post">
		{% csrf_token %}
    	{{ formset.management_form }}
    	<div class="table-responsive">
  			<table class="table">
  				<thead>
      				<tr>
       		 			<th>Σειριακός Αριθμός</th>
       	 				<th>Ημ/νία Χρέωσης</th>
        				<!--<th>Πάθηση</th>
                <th>Φάρμακο</th>
                <th>Πλήθος</th>
                <th>Συχνότητα</th>-->
                <ht>Συνταγές</ht>
        				<th>Διαγραφή</th>
      				</tr>
    			</thead>
    			<tbody>
  				{% for form in formset %}
  					{{ form.id }}
  					<tr>
  						<td>{{ form.serial }}</td>
  						<td>{{ form.charge_date }}</td>
  						<!--<td>{{ form.desease }}</td>
              <th>{{ form.medicine }}</th>
              <th>{{ form.quantity }}</th>
              <th>{{ form.frequency }}</th>-->
              <tr></tr>
  						<td>{{ form.DELETE }}</td>
    				</tr>
    			{% endfor %}
    			</tbody>
  			</table>
  			<!--<div class="float-right">-->
  			<div>
  				<button class="btn btn-info ml-3" type="submit">Εγγραφή</button>
  			</div>
		</div> 
	</form>
</div>
{% endblock %}